{% extends 'base.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'components/_topics.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{ user.avatar.url }}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>
            {% if participant.name %}
            {{ participant.name }}
            {% endif %}
          </h3>
          <p>@{{ user.username }}</p>
          <a href="{% url 'profile-edit' pk=request.user.id %}" class="btn btn--main btn--pill">Edit Profile</a>
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{ user.bio }}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{ user.name }}</a>

          </h2>
        </div>
      </div>

      {% include 'components/_feed.html' %}

    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'components/_activity.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}